body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d4d4d4;
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px
}

.box-izq, .box-der{
  display: flex;
  flex-direction: column;
}

.box-izq{
  width: 60%;
}

.solicitudes, .conexiones, .educacion, .perfil{
  border-radius: 20px;
  position: relative;
  background-color: #ffffff;
  margin: 10px;
}

.solicitud{
  justify-content: space-between;
  align-items: center;
}

.solicitud-info{
  display: flex;
  align-items: center;
}

.solicitud img{
  border: solid 3px #773c9e;
  border-radius: 10px;
  margin-right: 10px;
}

.iconos i{
  width: 15px;
  height: 15px;
  border: solid 3px #2e2e2e;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  color: #2e2e2e;
  cursor: pointer;
}

.iconos i:hover{
  background-color: #575757;
  color: #fff;
}

.navbar{
  background-color: #2e2e2e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 40px;
}

.solicitud, li{
  display: flex;
  flex-direction: row;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.logo {
  margin: 16px;
  align-self: center;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items:center;
}

.nav-links li {
  margin-right: 10px;

}

.nav-links li a {
  text-decoration: none;
  color: #fff;
}

.header {
  width: auto;
  height: 150px;
  background-color: #be5eff;
  border-radius: 20px 20px 0 0;
  position: relative;
}

.perfil img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  position: absolute;
  top: 50px;
  left: 10%;
}

.boton{
  margin-top: 15px;
  padding: 10px 0;
}

.boton a{
  text-decoration: none;
  color: #000000;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
  border-color: #cfcfcf;
  background-color: #cfcfcf;
}

.boton a:hover{
  background-color: #be5eff;
}

.sesion-boton{
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
  border-color: #be5eff;
  background-color: #be5eff;
}

.solicitud img, .lista-conexiones img{
  width: 30px;
  height: 30px;
}

.lista-conexiones img{
  border-radius: 50%;
  border: solid 3px #773c9e;
}

.lista-conexiones li{
  align-items: center;
  gap: 10px;
  height: 40px;
}

.lista-conexiones{
  padding: 0;
  margin: 0;
}

.sesion-boton:hover{
  background-color: #773c9e;
}

.informacion-perfil {
  position: relative;
  padding: 80px 30px 30px;
}

.informacion-educacion, .solicitudes, .conexiones{
  padding: 20px;
}

h2{
  margin: 0;
  color: #313131;
}

h3 {
  margin-bottom: 0;
  color: #424242;
}

p {
  color: #575757;
}

